.saySection {
	height: fit-content;
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	position: relative;

	> h2 {
		margin-bottom: 80px;
	}

	.slick-dots {
		display: flex !important;
		justify-content: center;
		gap: 20px;
		position: absolute;
		bottom: -100px !important;
		li:not(.slick-active) {
			opacity: 0.5;
			a {
				h6 {
					opacity: 0;
				}
				p {
					opacity: 0;
				}
			}
		}
		li {
			height: fit-content;
			width: 48px;
			cursor: pointer;
			a {
				height: fit-content;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					width: 48px;
					height: 48px;
				}
				h6 {
					margin-top: 30px;
					width: 100px;
				}
				p {
					width: 50px;
					color: var(--textSec);
					font-family: 'Poppins';
					font-style: normal;
					font-weight: 400;
					font-size: 13px;
					line-height: 24px;
				}
			}
		}

		.slick-active {
			a {
				img {
					transform: scale(2);
					z-index: 3;
				}
			}
		}
	}

	.commentSlide {
		width: 100%;
		padding: 0 20%;
		position: relative;
		padding-bottom: 110px;
		span {
			display: grid;
			place-items: center;
			opacity: 0.5;
		}
		p {
			color: var(--textMain);
			font-family: 'Barlow';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 36px;
		}
	}

	.slick-arrow::before {
		display: none;
	}
}

@media (max-width: 678px) {
	.saySection {
		padding-top: 64px;
		padding-bottom: 150px;

		.slick-dots {
			gap: 0;

			.slick-active {
				a {
					img {
						transform: scale(1.9);
						z-index: 3;
					}
				}
			}
		}

		.commentSlide {
			padding: 0;
			position: relative;
			padding-bottom: 110px;
			p {
				font-size: 23px;
			}
		}
	}
}
