.section {
	display: flex;
	gap: 24px;
	justify-content: space-between;
	height: fit-content;
	align-items: center;
	padding-top: 140px;
	padding-bottom: 100px;
	min-height: 100vh;
	.content {
		max-width: 466px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: start;
		gap: 40px;
		hr {
			border: 1px dashed rgba(145, 158, 171, 0.24);
			width: 100%;
			margin: 20px 0;
		}
		.buttons {
			display: flex;
			gap: 30px;
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				border: none;
				cursor: pointer;
			}
			> :first-child {
				background: var(--Orange);
				padding: 11px 22px;
				gap: 8px;
				border-radius: 8px;
				font-family: 'Barlow' , sans-serif;
				font-style: normal;
				font-weight: 700;
				font-size: 15px;
				line-height: 26px;
				color: white;
				&:hover {
					opacity: 0.7;
					img {
						transform: translateX(10px);
					}
				}
			}
			h6 {
				display: flex;
				align-items: center;
				gap: 15px;
				cursor: pointer;
				> button {
					display: grid;
					place-items: center;
					place-content: center;
					width: 48px;
					height: 48px;
					background: #22b8cf;
					box-shadow: 0px 8px 16px rgba(34, 184, 207, 0.24);
					border-radius: 50px;
				}
				&:hover {
					> button {
						opacity: 0.7;
					}
				}
			}
		}

		.info {
			display: flex;
			justify-content: space-between;
			width: 100%;
			span {
				position: relative;
				z-index: 1;
				h3 {
					width: fit-content;
					&::before {
						content: ' ';
						position: absolute;
						width: 24px;
						height: 24px;
						border-radius: 20px;
						top: 10px;
						left: -6px;
						z-index: -1;
					}
				}
				&:first-of-type > :before {
					background: rgba(255, 193, 7, 0.24);
				}
				&:nth-of-type(2) > :before {
					background: rgba(255, 72, 66, 0.24);
				}
				&:last-of-type > :before {
					background: rgba(12, 214, 110, 0.24);
				}
			}
		}
	}

	.img {
		max-width: 670px;
		max-height: 670px;
		img {
			width: 100%;
		}
	}
}

.gray {
	color: #919eab;
}

.orange {
	color: #fa541c;
	text-decoration: underline;
}

@media (max-width: 678px) {
	.section {
		justify-content: center;
		padding-top: 120px;
		padding-bottom: 80px;
		.content {
			gap: 24px;
			align-items: center;
			text-align: center;
			h1 {
				width: 270px;
				flex-grow: 1;
			}

			hr {
				margin: 30px 0;
			}
			.buttons {
				gap: 24px;
				flex-direction: column;
				margin-top: 20px;
			}

			.info {
				text-align: center;
				flex-wrap: wrap;
				h3 {
					&::before {
						top: 0 !important;
					}
				}
			}
		}
		.img {
			display: none;
		}
	}
}
